*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.template
*.psd
*.sublime-project
*.sublime-workspace
*.komodoproject
*.esproj
*.espressostorage
node_modules
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
.hg
.svn
.CVS
intermediate
publish
.idea
_notes
dwsync.xml
.komodotools
.env.*.php
.env.php
composer.phar
.sass-cache
vendor/
cache/